<div class="container p-4">

<%= @list.name %>

<hr>
<%= link_to "Back", lists_path %>

</div>

<%# add a btn that will lead to an extrenal bookmark form  %>
<%# form will ask user to associate @list to movie/s and add comment %>
<%# from bookmark form it should redirect to this showpage %>
<%# this showpage should show list name, movie/s, comment %>
